.container--fluid-video {
  position: relative;
  height: 0;
  margin-bottom: 1rem;
  padding-bottom: 75%;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.container--lockedIframe {
  overflow:hidden;
}