/* Breadcrumb Container */
.container {
  padding: 0.5rem 10%;
}

.caretIcon, .homeIcon {
  color: #333 !important;
}

/* Breadcrumb ">" SVG that denotes categories */
.caretIcon {
  width: auto !important;
  height: auto !important;
}

/* Small House SVG that links to homepage */
.homeIcon {
  width: 1rem !important;
  height: 1rem !important;
}